@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

header {
    background-color: gold;
    color: #fff;
    height: 100px;
    .header-logo {
        font-size: 20px;
        float: left;
        padding: 33px 40px;
    }
    li {
        list-style: none;
        float: left;
        padding: 34px 20px;
    }
}

.main {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
    background-color: floralwhite;
    height: 700px;
    .heading {
        h1 {
            font-size: 40px;
            border-bottom: 2px solid black;
            span {
                color: red;
            }
        }
        h2 {
            margin: 5px;
            font-size: 30px;
            border: 2px solid black;
            border-style: dotted;
        }
    }
    .main-contents {
        padding: 20px 10px;
        h1 {
            margin-top: 10px;
        }
        a {
            margin-left: 5px;
        }
        img {
            size: 5in;
        }
    }
    .sub-contents {}
    .contact-form {
        h3 {
            font-size: 20px;
            border-bottom: 2px solid black;
        }
        input,
        textarea {
            width: 400px;
            margin-top: 10px;
            margin-bottom: 30px;
            padding: 20px;
            font-size: 18px;
            border: 1px solid #dee7ec;
        }
        .contact-submit {
            background-color: #dee7ec;
            color: #889eab;
        }
    }
}

footer {
    background-color: deepskyblue;
    height: 150px;
    color: #fff;
    .footer-logo {
        font-size: 20px;
        float: left;
        padding: 30px 40px;
    }
    .footer-list {
        float: right;
        padding: 10px;
        li {
            list-style: none;
            padding-bottom: 5px;
            padding-right: 10px;
            margin-top: 0.5rem;
        }
    }
}